p {
  font-family:Georgia;
  font-size: 14px;
  font-weight:normal;

}

h1 {
  font-family:Garamond;
  grid-row : 1fr;
  color:black;
  background-color: #45deef;
  padding: 30px 50px 100px 30px;
  border-style:
}

img{
  position:absolute;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100px;
  width: 50%;
  border-radius: 50%;
}

.grid {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1f 1f 2f 2f 1f;
  margin: 100px;
  grid-gap: 40px;
}

.heading{
  grid-column-start:1;
  grid-column-end: 3;
  grid-row: 1;
}


.socialmedia{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row: 4/6;

}

.contact{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row: 3/4;

}

.biography{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row: 2/3;
}

.workexperience{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row: 3/4;
}

.education{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row: 4/5;
  text-align: center;
}

.skills{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row: 5/6;
